<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- betwwen 1 and 100 normally 16-->
    <add key="chunk_size" value="16" />
    <!-- betwwen 1 and 100 normally 64-->
    <add key="high" value="64" />
    <!-- betwwen 1 and 100 normally 12-->
    <add key="water_level" value="12" />
    <!-- if async rendering is enable-->
    <add key="render_enable" value="true" />
    <!-- betwwen 1 and 10 -->
    <add key="render_offset" value="4" />
    <!-- seed must be int -->
    <add key="seed" value="1645784539" />
    <!-- CEP is devided by 10000, influence world generaing shape-->
    <add key="continentalness" value="30" />
    <add key="erosions" value="60" />
    <add key="peaks_and_valleys" value="5" />
  </appSettings>
</configuration>